:root {
    --color-secondary-primary-900: #DD5498;
    --color-secondary-primary-700: #f173b1;
    --color-black-900: #121212;
    --color-black-400: #A7A7A7;
    --color-red-400: #E25563;
    --color-gray: #FFFFFF;
    --color-gray-300: #dfdfdf;

    --width-18-rem: 18rem;
}